<% include header.ejs %>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder"><%= __('Shop in style') %></h1>
        <p class="lead fw-normal text-white-50 mb-0"><%= __('Welcome to ') %><%= title %></p>
      </div>
    </div>
  </header>

  <!-- Section-->
  <section class="py-5">
    <h2 class="text-center"><%= __('Advertisement list ') %></h2>
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 justify-content-center product-card">
        <% advertisements.forEach(function (advertisement) { %>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="/images/anuncios/<%= advertisement.photo %>" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= __('Advert: ') %><%= advertisement.name %></h5>
                  <!-- Product price-->
                  <%= __('Price: ') %><%= advertisement.price %> €
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">
                    <%= __('Tags: ') %>
                    <ul>
                      <% advertisement.tags.forEach(function (tag) { %>
                        <li><%= __(tag) %></li>
                      <% }); %>
                    </ul>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>

  <% include footer.ejs %>
</body>