<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <h2>Lista de Anuncios</h2>
  <% advertisements.forEach(advertisement=> { %>

    <h3>
      Anuncio <%= advertisement.name %> a <%= advertisement.price %> Euros
    </h3>
    <div>
      <img src="/images/anuncios/<%= advertisement.photo %>">
    </div>
    <% }) %>


</body>

</html>